@model IEnumerable<Practica_Catalogo.Models.Roles>


@{
    ViewBag.Title = "IndexRoles";
}

<div class="container text-center">
    <h1 class="display-4">ROLES</h1>

    <div class="my-3">
        @Html.ActionLink("Agregar Rol", "CreateRol", "Roles", null, new { @class = "btn btn-outline-primary" })
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                        <td>
                            @Html.ActionLink("Editar", "EditRol", new { id = item.idRol }, new { @class = "btn btn-outline-primary" }) |
                            @Html.ActionLink("Eliminar", "DeleteRol", new { id = item.idRol }, new { @class = "btn btn-outline-primary" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>